<div class="page-top">
  <div class="header">
    <h1 class="header-heading"><a href="/">Alex Sommer</a></h1>
  </div>

  <div class="nav-bar">
    <ul class="nav">
      <li><a href="{{ site.url }}/archive">Blog</a></li>
      <li><a href="{{ site.url }}/thoughts">Thoughts</a></li>
      <li><a href="{{ site.url }}/resume">Resume</a></li>
      <li><a href="https://www.linkedin.com/in/alexjsommer">LinkedIn</a></li>
      <li><a href="https://github.com/AlexSommer">Github</a></li>
    </ul>
  </div>
</div>