<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body>
    <div class="container"> 
      {% include page-top.html %}
      <div class="content">
        <div class="main">
          <hr>
          <h1>{{ page.title }}</h1>
          <hr>
            <div class="writing">
              <h4><i>{{ page.subtitle }}</i></h4>
              <h4><i>{{ page.when }}</i></h4>
              {{ content }}
            </div>
          <hr>
        </div>
      </div>  
      {% include page-bottom.html %}
    </div>
  </body>
</html>
